<% content_for(:title, "前屈測定結果ページ") %>
<div class="my-container">
  <h1>前屈測定結果</h1>

  <div class="bg-amber-50 p-4 rounded-md">
    <p><strong>柔軟性レベル：</strong><%= @stretch_distance.localized_flexibility_level %></p>
    <p><%= @stretch_distance.comment_template %></p>
  </div>

  <div class="mt-6 text-center">
    <%= button_to "結果を投稿する", create_post_with_result_stretch_distance_path(@stretch_distance), method: :post, class: "my-orange-btn" %>
  </div>
</div>