<% content_for(:title, "通知一覧ページ") %>
<div class="my-container">
<h1>通知一覧</h1>
<% if @notifications.present? %>
  <%= link_to "全削除", destroy_all_notifications_path, data: { turbo_method: :delete, turbo_confirm: "本当に全て削除しますか?" }, class:"px-4 py-2 border border-stone-500 text-stone-700 bg-white transition rounded inline-block mb-8 hover:bg-neutral-500 hover:text-white" %>

  <div class="space-y-2">
    <% @notifications.each do |notification| %>
      <%= render "#{notification.action_type}", notification: notification %>
    <% end %>
  </div>
  <div class="mt-6">
    <%== pagy_nav_circle(@pagy) if @pagy.present? %>
  </div>
<% else %>
  通知はありません
<% end %>
</div>