<%= month_calendar(events: @calendar_posts, attribute: :created_at) do |date, posts| %>
  <div class="relative">
    <% if posts.any? %>
      <% posts.each do |post| %>
        <%= link_to board_path(post), class: "absolute top-4 right-6 text-orange-500 text-2xl hover:text-orange-600", data: { turbo_frame: "_top" } do %>
          <%= icon("solid", "thumbs-up") %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>