<div class="my-container">
<article class="flex flex-col gap-10 justify-center items-center">
  <section class="">
    <p class="text-center text-4xl font-bold">まいにち前屈</p>
  </section>
  <section class="">
    <%= image_tag 'stretch_cat.jpg', alt: "ストレッチする猫", class: "block rounded-md w-full max-w-[600px]" %>
  </section>
  <section class="">
    <p class="text-center">全身をやわらかく、前屈ができるようサポートします。<br>めんどくさがりでも毎日のストッチを記録することで習慣的に続けられます。</p>
  </section>
  <section class="w-full max-w-2xl">
    <h2 class="text-2xl font-bold text-center mb-4">週間ランキング</h2>
  <div class="grid gap-6">
    <% @ranking_boards.each do |board| %>
      <%= link_to board_path(board), class: "block rounded-md" do %>
        <%= render partial: "boards/board_card", locals: { board: board } %>
      <% end %>
    <% end %>
  </div>
  </section>
</article>
</div>