<div class="my-container">
<article class="flex flex-col gap-10 justify-center items-center">
  <section class="">
    <p class="text-center text-4xl font-bold">まいにち前屈</p>
  </section>
  <section class="">
    <%= image_tag 'stretch_cat.jpg', alt: "ストレッチする猫", class: "block rounded-md w-full max-w-[600px]" %>
  </section>
  <section class="">
    <p class="text-center">全身をやわらかく、前屈ができるようサポートします。<br>めんどくさがりでも毎日のストッチを記録することで習慣的に続けられます。</p>
  </section>
</article>
</div>