<main class="flex-1 relative">
  <article class="flex flex-col gap-12 justify-center items-center m-8 md:mx-auto md:mt-16">
    <section class="">
      <p class="text-center text-4xl">まいにち前屈</p>
    </section>
    <section class="">
      <p class="text-center text-base/7">「めんどくさがりでも続けられる」をコンセプトに前屈ができるようサポートします。<br>まいにちのストレッチ習慣で快適さをプラス。</p>
    </section>
  </article>
</main>