<% content_for(:title, "プライバシーポリシーページ") %>
<article class="my-container">
  <section class="mb-8">
    <h1 class="text-3xl">プライバシーポリシー</h1>
    <p class="mb-1 text-sm text-stone-400 text-center">制定日：2025年7月29日</p>
    <p class="mb-8 text-sm text-stone-400 text-center">最終更新日：2025年8月17日</p>
    <p>まいにち前屈（以下、「当方」といいます）は、本ウェブサイト上で提供するサービス（以下、「本サービス」といいます）における、ユーザーの個人情報の取扱いについて，以下のとおりプライバシーポリシー（以下、「本ポリシー」といいます）を定めます。このプライバシーポリシーは、当方が取得する情報、その利用目的、管理方法などについて定めたものです。</p>
  </section>

  <section class="mb-8">
    <h2 class="text-orange-500 text-xl font-semibold border-b border-stone-300 pb-2 mb-4">お客様から取得する情報</h2>
    <p>本サービスは、お客様から以下の情報を取得します。</p>
    <ol class="list-disc ml-6">
      <li>氏名（ニックネームやペンネームを含む）</li>
      <li>メールアドレス</li>
      <li>写真や動画</li>
      <li>外部サービスでお客様が利用するID、その他外部サービスのプライバシー設定によりお客様が連携先に開示を認めた情報</li>
      <li>Cookie（クッキー）を用いて生成された識別情報</li>
      <li>OSが生成するID、端末の種類、端末識別子等のお客様が利用するOSや端末に関する情報</li>
      <li>当方ウェブサイトの滞在時間、入力履歴、購買履歴等の当方ウェブサイトにおけるお客様の行動履歴</li>
      <li>当方アプリの起動時間、入力履歴、購買履歴等の当方アプリの利用履歴</li>
      <li>お客様の位置情報</li>
    </ol>
  </section>

  <section class="mb-8">
    <h2 class="text-orange-500 text-xl font-semibold border-b border-stone-300 pb-2 mb-4">お客様の情報を利用する目的</h2>
    <ol class="list-disc ml-6">
      <li>本サービスに関する登録の受付、お客様の本人確認、認証のため</li>
      <li>お客様の本サービスの利用履歴を管理するため</li>
      <li>本サービスに関するご案内をするためサービスにおけるお客様の行動履歴を分析し、本サービスの維持改善に役立てるため</li>
      <li>本サービスに関するご案内をするため</li>
      <li>お客様からのお問い合わせに対応するため</li>
      <li>当方の規約や法令に違反する行為に対応するため</li>
      <li>本サービスの変更、提供中止、終了、契約解除をご連絡するため</li>
      <li>当方規約の変更等を通知するため</li>
      <li>その他、本サービスの提供、維持、保護及び改善のため</li>
    </ol>
  </section>

  <section class="mb-8">
    <h2 class="text-orange-500 text-xl font-semibold border-b border-stone-300 pb-2 mb-4">楽天アフィリエイトの利用について</h2>
    <p>本サービスは、楽天アフィリエイトの参加者です。<br>
楽天アフィリエイトとは、楽天を宣伝し、リンクすることによって紹介料を獲得できるアフィリエイトプログラムです。
本サービス内の一部のリンクには、楽天アフィリエイトリンクが含まれており、ユーザーがこれらのリンクを経由して商品を購入した場合、当方が紹介料を受け取ることがあります。楽天アフィリエイトで発生した利益は本サービスの運営や改善等に役立ててまいります。</p>
<!-- Rakuten Web Services Attribution Snippet FROM HERE -->
<a href="https://webservice.rakuten.co.jp/" target="_blank"><img src="https://webservice.rakuten.co.jp/img/credit/200709/credit_22121.gif" border="0" alt="Rakuten Web Service Center" title="Rakuten Web Service Center" width="221" height="21"/></a>
<!-- Rakuten Web Services Attribution Snippet TO HERE -->
  </section>

  <section class="mb-8">
    <h2 class="text-orange-500 text-xl font-semibold border-b border-stone-300 pb-2 mb-4">第三者提供</h2>
    <p>当方は、お客様から取得する情報のうち、個人データ（個人情報保護法第16条第3項）に該当するものについて、
あらかじめお客様の同意を得ずに第三者（日本国外にある者を含む）に提供しません。ただし、以下の場合を除きます。</p>
    <ol class="list-disc ml-6">
      <li>個人データの取扱いを外部に委託する場合</li>
      <li>当方や本サービスが買収された場合</li>
      <li>事業パートナーと共同利用する場合（具体的な共同利用内容は別途公表します。）</li>
      <li>その他、法律によって合法的に第三者提供が許されている場合</li>
    </ol>
  </section>

  <section class="mb-8">
    <h2 class="text-orange-500 text-xl font-semibold border-b border-stone-300 pb-2 mb-4">プライバシーポリシーの変更</h2>
    <p>本ポリシーの内容は，法令その他本ポリシーに別段の定めのある事項を除いて，ユーザーに通知することなく，変更することができるものとします。変更後のプライバシーポリシーは，本ウェブサイトに掲載したときから効力を生じるものとします。</p>
  </section>

  <section class="mb-8">
    <h2 class="text-orange-500 text-xl font-semibold border-b border-stone-300 pb-2 mb-4">アクセス解析ツール</h2>
    <p>当方は、サービス改善のために「Googleアナリティクス」を利用しています。<br>
Googleアナリティクスは、Cookieを使用して匿名のトラフィックデータを収集します。これらのデータは、個人を特定するものではありません。ユーザーは、ブラウザの設定によりCookieを無効にすることで、これらの情報収集を拒否できます。<br>
詳しくは以下をご参照ください。</p>
    <%= link_to "Googleアナリティクス利用規約", "https://marketingplatform.google.com/about/analytics/terms/jp/", class: "text-blue-500 underline", target: :_blank,rel: "noopener noreferrer" %>
  </section>

  <section class="mb-8">
    <h2 class="text-orange-500 text-xl font-semibold border-b border-stone-300 pb-2 mb-4">
    お問い合わせ
    </h2>
    <p>お客様の情報の開示、訂正、利用停止、削除をご希望の場合は、以下の連絡先にご連絡ください。</p>
      <%= link_to "お問い合わせフォーム", "https://forms.gle/ZvjaJRigM8Vk9xXk8", class: "text-blue-500 underline", target: :_blank,rel: "noopener noreferrer" %>
    <p>上記お問い合わせの際は、ご本人確認のため運転免許証のご提示など、当方が指定する方法により確認を行います。
また、情報開示請求については、開示の有無にかかわらず、ご申請時に1件あたり1,000円の事務手数料を申し受けます。</p>
  </section>
</article>