
<% content_for(:title, "ブックマーク一覧ページ") %>
<div class="my-container">
  <h1>ブックマーク一覧</h1>

  <% if @bookmarks.any? %>
    <div class="grid gap-6">
      <% @bookmarks.each do |bookmark| %>
        <div class="block rounded-md cursor-pointer transition hover:shadow-md" data-navigate-to="<%= board_path(bookmark.board) %>">
          <%= render partial: "boards/board_card", locals: { board: bookmark.board } %>
        </div>
      <% end %>
    </div>
    <div class="mt-6">
      <%== pagy_nav_circle(@pagy) if @pagy.present? %>
    </div>
  <% else %>
    <p>まだブックマークはありません。</p>
  <% end %>
</div>
