<% content_for(:title, "みんなの投稿ページ") %>
<div class="my-container">
  <h1>みんなの投稿</h1>

  <div class="grid gap-6">
    <% @boards.each do |board| %>
      <%= link_to board_path(board), class: "block rounded-md" do %>
        <%= render partial: "boards/board_card", locals: { board: board } %>
      <% end %>
    <% end %>
  </div>
</div>
