<% content_for(:title, "みんなの投稿ページ") %>
<div class="my-container">
  <h1>みんなの投稿</h1>

  <div class="grid gap-6">
    <% @boards.each do |board| %>
      <div class="block rounded-md cursor-pointer transition hover:shadow-md" data-navigate-to="<%= board_path(board) %>">
        <%= render partial: "boards/board_card", locals: { board: board } %>
      </div>
    <% end %>
  </div>

  <div class="mt-6">
    <%== pagy_nav_circle(@pagy) if @pagy.present? %>
  </div>
</div>
