<p><%= t('devise.mailer.confirmation_instructions.greeting', recipient: @resource.name) %></p>

<p><%= t('devise.mailer.confirmation_instructions.instruction') %></p>

<p><%= t('devise.mailer.confirmation_instructions.instruction2') %></p>

<%= link_to 'メールアドレス確認を完了する', user_confirmation_url(confirmation_token: @token) %>
