<p><%= t('devise.mailer.confirmation_instructions.greeting', recipient: @resource.name) %></p>

<p><%= t('devise.mailer.confirmation_instructions.instruction') %></p>

<%= link_to 'アカウントを確認する', user_confirmation_url(confirmation_token: @token) %>
